.postSection {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;
}

.postContainer {
  width: 90%;
  margin: 0 auto;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.postClicked {
  background: #eee;
  width: 75%;
  border: 2px solid #000;
  border-radius: 5px;
  margin: 0 auto;
}

.postTitle {
  border-bottom: 2px solid #000;
  width: 100%;
}

.postTitle {
  padding: 1rem 3rem;
}

.postContent {
  padding: 3rem 3rem;
}

.commentsSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem 2rem;
  margin: 0 1rem;
}

.commentsSection > p {
  margin-bottom: 1rem;
}

.commentBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  width: 100%;
  padding: 1rem 0;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}

#commentInput {
  overflow: hidden;
  resize: none;
  min-height: 30px;
  max-height: 300px;
  border: none;
  background: lightgray;
  border-radius: 25px;
  width: 90%;
  color: #000;
  padding: 0.5rem 1rem;
  outline: none;
  box-sizing: border-box;
}

#commentInput:focus {
  outline: 2px solid #333;
}

.commentBtn {
  border: none;
  background: none;
  display: inline-block;
  color: #333;
  font-size: 1.5rem;
  cursor: pointer;
}

.commentBtn:hover {
  color: gray;
  transform: scale(1.05);
}

.commentSubmit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2rem;
  font-size: 1.3rem;
}

.my {
  width: fit-content;
  max-width: 50vw;
  margin: 0 auto;
}

.listComments {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.comment {
  background: #d8d8d8;
  padding: 1rem;
  border-radius: 5px;
  position: relative;
}

.commentHeader {
  font-size: 1.3rem;
  font-weight: 600;
}

.commentName {
  font-weight: 600;
  margin-bottom: 0.2rem;
}

.commentContent {
  font-weight: 300;
  font-size: 0.9rem;
}

.commentCountBtn {
  width: 50%;
  max-width: 150px;
  margin: 0 auto;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 5px;
  cursor: pointer;
}

.commentCountBtn:hover {
  transform: scale(1.05);
}

.deleteCommentBtn {
  position: absolute;
  height: 30px;
  right: 16px;
  bottom: 16px;
  background: #acacac;
  border: none;
  border-radius: 50%;
  padding: 10px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.deleteCommentBtn i {
  font-size: 0.75rem;
}

.deleteCommentBtn:hover {
  background: #c8c8c8;
}

.deleteCommentBtn:hover,
.deleteCommentBtn:hover i {
  transform: scale(1.05);
}

.noComments {
  font-size: 0.9rem;
}
